.error{
    color: crimson;
}

#flash-success-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99999;
  }
  
  .flash-success {
    background-color: green;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }

  .even {
    background-color: #f0f0f0 !important; /* Set your even background color */
}

.odd {
    background-color: #e0e0e0 !important; /* Set your odd background color */
}
.fa-phone{
  font-size: 15px;
}
