.s_header-section .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure the link takes the full height of its parent */
}
.s_header-section .rating-text {
  text-align: center;
  padding-bottom: 1.7rem;
  font-size: 1.6rem;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s_header-section .golden-star {
  color: gold !important; /* Set the star color to gold */
  display: inline-flex;
}

.s_header-section .golden-star {
  font-size: 1.6rem; /* Set the star font size */
}

.s_header-section p {
  text-align: center;
  padding-bottom: 1.7rem;
  font-size: 1.4rem;
  color: #fff;
}


.s_header-section h2 {
  text-align: center;
  padding-bottom: 1.7rem;
  color: #fff;

}

.s_header-section .input-group {
  justify-content: center;
  height: 3.8rem;
  margin-right: 2rem;
  width: 20rem;
  text-align: center;
}
.s_header-section .input-group-text {
  border-right: 3px black solid;
}

.s_header-section .temp {
  display: flex;
  margin-left: 1.7rem;
  margin-top: 10px !important;
}

.s_header-section h2 {
  text-align: center;
  padding-bottom: 1.7rem;
  color: #fff;
}

.s_header-section .input-group {
  justify-content: center;
  height: 3.8rem;
  margin-right: 2rem;
}

.s_header-section .temp {
  display: flex;
}
.s_header-section .singleline {
  margin-left: 4rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.s_header-section .rightimg {
  margin-top: 2rem;
  margin-left: 5rem;
  height: auto;
  width: 30rem !important;
  border-radius: 50px;
}
.custom-img {
  width: 100%;
  height: auto;
}

.custom-h2 {
  font-size: 16px;
}
