.rating-text {
    text-align: center;
    padding-bottom: 1.7rem;
    font-size: 1.6rem;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars {
    color: gold; /* Set the star color to gold */
    display: inline-flex;
    margin-right: 0.5rem; /* Space between stars and text */
}

.golden-star {
    font-size: 1.6rem; /* Set the star font size */
}

p{
    text-align: center; 
    padding-bottom: 1.7rem; 
    font-size: 1.4rem; 
    color: #fff;
}

h2{
   text-align: center; padding-bottom: 1.7rem; color: #fff;
}

.input-group{
    justify-content: center;
    height:3.8rem;
    margin-right: 2rem;

}

.temp{
    display: flex;
}

.singleline{
    margin-left: 4rem;
    display: flex;
}