.faculty-content {
  text-align: center;
}

.faculty-section {
  background: #fad32c;
  padding-top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}

.faculty-div img {
  border-radius: 50%;
  border: none;
  padding: 7px;
  position: relative;
}

.faculty-div1::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 999;
  left: 0;
  right: 0;
  margin: auto;
  top: 8px;
  display: block;
  transition: 0.5s;
  /* bottom: 0; */
  padding: 0;
}

.faculty-div1 {
  position: relative;
  transition: 0.5s;
}

.faculty-div1:hover::before {
  display: none;
}

.faculty-content-team__member-name {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--e-global-color-text);
  margin-bottom: 8px;
}

.faculty-content-team__member-position {
  color: rgb(102, 102, 102);
  font-size: 15px;
}

.owl-carousel .owl-nav.disabled {
  display: none !important;
}

.owl-carousel .owl-prev span {
  display: none !important;
}

.owl-carousel .owl-next span {
  display: none !important;
}

.owl-next i,
.owl-prev i {
  color: rgb(255, 0, 103);
  font-size: 28px;
}

.owl-prev i {
  position: absolute;
  left: -31px;
  top: 130px;
}

.owl-next i {
  position: absolute;
  right: -31px;
  top: 130px;
}

/* css for mobile */
@media only screen and (max-width: 767px) {
  .owl-prev i {
    left: 0 !important;
  }

  .owl-next i {
    right: 0 !important;
  }

  .faculty-div1::before {
    width: 312px !important;
    height: 312px !important;

    /* bottom: 0; */
  }
}

.accordion-item {
  background: transparent !important;
  border: none !important;
}

.owl-carousel .owl-dot span {
  background: #7e006f !important;
}
.owl-carousel .owl-dot.active span {
  transform: scale(0.6);
}

video::-webkit-media-controls {
  display: none !important;
}

.video-section {
  position: absolute;
  width: 100%;
  bottom: 84px;
  z-index: 999999;
  background: none;
}

.video-row {
  color: white;
  text-align: center;
  margin: auto;
}

.button-content {
  background-color: #f68535;
  border-radius: 50px 50px 50px 50px;
  padding: 6px 28px;
  box-sizing: border-box;
  border: none;
  color: white;
}
.col-md-9 {
  width: 100%;
}
