@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  font-family: "Roboto", sans-serif !important;
  scroll-behavior: smooth;
}

.cimgbr {
  padding-bottom: 20px;
}
.thumbnailList {
  text-align: center;
}
.cimgb {
  margin-top: -5%;
}
.thumbnailListItemp {
  padding-right: 55px;
}
.MusicSec,
.container-fluid {
  --bs-gutter-x: 0rem !important;
}
.bannervs {
  padding-top: 8%;
  /* margin-left: 86px; */
}
.banneris {
  padding-top: 26%;
  margin-right: 50px;
  margin-left: 63px;
}

.bannerv {
  border-radius: 30px;
  width: 100% !important;
  max-height: 400px !important;
  background-color: #000;
  padding: 1%;
}

.tophead {
  position: fixed;
  width: 100%;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: rgb(255 40 92) !important;
}

body {
  background-color: #fad32c !important;
  overflow-x: hidden;
}

.tophead .navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  font-weight: 500 !important;
  font-size: 14px;
}

.MusicSec {
  width: 100%;
  background-color: black;
}
.MusicSec1 {
  max-height: 800px;
}

.musicText {
  text-emphasis-color: white;
}

ul.thumbnailList {
  font-size: 16px;
  font-weight: 400;
}

.HomeVideo {
  display: block;
  width: 100%;
  margin-top: 20%;
  margin-left: 2%;
  height: 400px;
}

.dancefimg {
  width: 100px !important;
  height: 100px !important;
}

.studioText {
  align-items: center;
  margin-bottom: 0px !important;
  color: black;
  font-size: 47px;
  font-weight: 800;
  margin-top: -40px;
}

/* .tophead .navbar ul li a:hover{
background-color:aqua;
} */
.tophead .navbar ul li {
  margin: 0px 20px 0px 0px;
}

/* .tophead .loginmenu a:first-child {
  border-right: 1px solid #f7f7f7;
} */

.tophead .loginmenu a {
  color: #fff;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  font-size: 14px;
  /* font-size: 16px; */
  font-weight: 400;
}

/* .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

#tophead .navigation {
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.5s ease-in-out;
}

/* @media (min-width: 1025px) */
.navigation .tm-table {
  display: table;
  table-layout: fixed;
  max-width: none;
  width: auto;
  min-width: 100%;
}

#masthead.header_v4 .navigation .width-logo {
  margin-right: 30px;
}

#masthead .navigation .width-logo {
  padding-bottom: 5px;
  padding-top: 5px;
}

.navbar > .container-fluid {
  padding: 0px 70px;
}

.width-logo {
  margin-right: 30px;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.navigation nav {
  position: static;
}

.navigation {
  width: calc(100% - var(--thim-width-logo));
}

.site-header .navbar-nav {
  text-align: right;
}

.navigation .thim-ekits-menu__nav {
  display: block;
}

.navbar-nav {
  float: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  /* padding: 0.5rem 2rem; */
  color: #fff;
}

.nav-link:hover {
  color: #ff0067 !important;
}

.nav-container .nav-link {
  padding-right: 2rem !important;
  padding-left: 0.5rem;
}

.tophead .navbar-nav > ul {
  font-size: 14px;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
  zoom: 1;
  max-height: 60px;
  vertical-align: middle;
}

.main menu .a:hover {
  background-color: red;
}

.btndemo {
  width: 100%;
  /* margin-left: 100px; */
  font-size: 13px !important;
  font-weight: 400 !important;
  background-color: #fff !important;
  line-height: 38px !important;
  /* padding: 5px 25px !important; */
  border-radius: 25px !important;
  color: #000000 !important;
  /* background: none; */
}
.btndemoh {
  /* width: 100%; */
  /* margin-left: 100px; */
  font-size: 13px !important;
  font-weight: 400 !important;
  background-color: #ff1561 !important;
  line-height: 38px !important;
  padding: 5px 25px !important;
  border-radius: 25px !important;
  color: #ffffff !important;
  /* background: none; */
}
.btntft {
  background-color: #ff1561 !important;
  padding: 0px 7px !important;
}

.btndemo:hover {
  background-color: #ff285b !important;
  color: #fff !important;
}

.headingSectionTitle {
  font-size: 28px;
  border-bottom: 1px solid red;
}

.video-container {
  position: relative;
}

.video-dance {
  display: block;
  width: 100%;
  height: 700px;
}
.musicv {
  height: 760px !important;
}

.yogav {
  width: 100% !important;
  /* height: 600px !important; */
  /* background-color: black; */
}

.container .video-col1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btnSection {
  padding: 60px 0px 0px 85px;
  padding: 60px 0px 0px 0px;
}

/* NAVBAR TRANSITION */
.tophead {
  background-color: black;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.tophead.scrolled {
  background-color: transparent;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  pointer-events: visible;
}

/* Apply styles when the button is not disabled */
/* [type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: default !important;
 
} */

/* Apply default cursor style when the button is disabled */
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
button:disabled {
  cursor: not-allowed !important;
}

.error {
  color: #ff0067;
  font-size: 12px;
}

#flash-message-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999999;
}

.flash-message {
  background-color: #ff0067;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

#flash-success-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99999;
}

.flash-success {
  background-color: green;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.owl-item {
  /* width: 255.5px !important; */
  /* margin-right:146px!important; */
}
.faculty-section2 {
  display: none;
}
.list-inline-item.thumbnailListItem:not(:last-child) {
  margin-right: 0rem !important;
}
.reviewName {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.small-input {
  width: 150px; /* Adjust the width as per your requirement */
  margin-top: 8%;
  margin-left: 43%;
}
.blogimg {
  padding: 0.25rem;
  background-color: transparent;
  border: 0px solid #dee2e6;
  border-radius: 0;
  max-width: 100%;
  height: auto;
}
.testimonialsdiv h3 {
  font-weight: 800;
}
