.iconc {
  width: 100px;
}

.cont-card {
  text-align: center;
}

.modal-content {
  width: 95%;
  margin: 0 auto;
  border-radius: 0px;
}
.bdemo {
  font-weight: 600;
}
.bdemo:hover {
  color: #fff;
}

.text-center {
  align-items: center;
  /* margin-bottom: 45px; */
  margin-bottom: 35px;

  margin-top: -40px;
}

.htgs {
  margin-top: 35px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 12px 40px 40px 40px !important; /* top right bottom left */
}

.btn-light {
  width: 100%;
  background-color: #ff0067;
  margin-bottom: 20px;
  color: white;
}

.teacher {
  margin-top: 20px;
}

.titel {
  font-family: "Roboto", sans-serif !important;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  text-align: center;
  margin: -42px 0 29px;
  padding: 0;
  text-transform: none;
  line-height: 40px;
}

/* .modal {
    background: rgba(0,0,0,0.6);
} */
.icon1 {
  margin-left: 38px !important;
}

.icon2 {
  margin-left: 39px !important;
}

.icon3 {
  margin-left: 38px !important;
}

.icon4 {
  margin-left: 40px !important;
}

.icon5 {
  margin-left: 33px !important;
}

.icon:hover {
  background-color: #ff0067;
}

.pricing-section {
  margin-top: 55px !important;
}

.tab-pane {
  /* margin-top: 33px; */
  margin-top: 0px;
}

.imlalp {
  margin-bottom: 14px !important;
}

.learning_Platform-section {
  margin-top: 20px;
}

.learningBtn {
  margin-top: 30px !important;
}

.pricing-section {
  margin-top: 6% !important;
}
.termsConditions {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
.modal-content {
  padding: 20px 42px;
  border-radius: 5px;
  align-items: center;
}
