.btnstrt {
  background-color: #f68535 !important;
  border-radius: 50px 50px 50px 50px !important;
}

/* For Mobile Screen max-width: 767*/
@media only screen and (max-width: 767px) {
  /* .hide {
    display: none;
  }
  .pd0 {
    padding: 0px 13px !important;
  }
  .thim-logo {
    display: none;
  } */

  .howWorkBlock .hwTitle {
    font-size: 12px !important;
  }
  .howWorkBlock .hwDesc {
    font-size: 9px !important;
  }

  .workSections.text-center {
    margin-bottom: -6px !important;
  }
  .heading {
    font-size: 25px !important;
  }
  .heading-div h3 {
    font-size: 25px !important;
    margin-top: 31px !important;
  }
  .btnstart {
    font-size: 8px !important;
    line-height: 24px !important;
  }
  .btnSection {
    padding: 0px 0px 0px 0px !important;
  }
  .hide {
    display: none;
  }
  .text-col .textP {
    margin-top: 28px;
    text-align: justify;
  }
  .heading {
    font-size: 23px;
    font-weight: 400;
    padding: 0px;
  }
  /* .scm {
    margin-bottom: -18px !important;
  } */
  .learning_Platform-section {
    margin-top: 20px;
  }
  .join-now-btn {
    width: 185px;
  }
  .counter-value {
    font-size: 16px;
  }
  .Alp-number-suffix {
    font-size: 12px;
  }
  .Alp-title {
    font-size: 12px;
  }
  .imlalp {
    margin-bottom: 11px !important;
  }
  .Alp-title {
    font-size: 13px;
    line-height: 1.5;
  }

  .icon {
    margin-left: 27px;
  }
  .heading__primary {
    font-size: 13px;
  }
  .title_4 {
    margin-top: 0px;
  }
  .desc-content {
    font-size: 11px;
    font-weight: 200;
    line-height: 15px;
    margin-top: 4px;
    margin-bottom: 33px;
  }

  .price-btn p {
    font-size: 10px !important;
  }
  .op {
    margin-bottom: 30px !important;
  }
  .comming-section {
    padding: 0px 0px px !important;
  }
  .commingsoonimg {
    width: 100%;
  }
  .coming-soon-ul li {
    margin-bottom: 10px !important;
    font-size: 15px !important;
    font-weight: 600 !important;
  }
  .comming-soon-p {
    text-align: justify;
  }
  .opman {
    display: none !important;
  }
  .btnnew {
    font-size: 13px !important;
  }
  .btn-book,
  .btn-request {
    margin: 0px;
  }
  footer {
    padding: 0px 0px;
  }
  .video-section {
    display: none;
  }
  #danceVideo {
    width: 100%;
    height: auto;
  }
  .howWorkBlock {
    height: 200px;
  }

  .Alp-populated {
    padding: 5px;
  }

  .howItWorkSteps {
    margin: -20px 0 9px;
  }
  .howWorkBlock1 {
    padding-left: calc(var(--bs-gutter-x) * 0);
  }
  .howWorkBlock3 {
    padding-right: calc(var(--bs-gutter-x) * 0);
  }
  .co {
    margin-bottom: 6px;
  }
  .stories-section {
    margin-top: 20%;
  }

  .line_1 {
    max-width: 1320px;
    margin-top: 42px;
  }
  .join-now-btn {
    padding: 10px 21px;

    font-size: 20px !important;
    width: 275px;
  }

  .heading_new {
    margin-top: -4px !important;
    margin-bottom: 14px !important;
  }
  .icon1 {
    margin-left: 32px !important;
  }
  .sc_heading {
    font-size: 31px !important;
  }
  .typesOfDance-tab .nav-pills .nav-link.big {
    width: 162px !important;
    height: 60px !important;
  }
  .kathakp {
    margin-top: 6%;
  }
  .start {
    font-size: 12px !important;
    line-height: 23px !important;
  }
  .step {
    width: 100%;
  }
  .list-inline-item {
    padding: 5px;
  }
  .mkathak {
    width: 100% !important;
  }
  .month-row .month-list .dancetypes .monthbtn,
  .typesOfDance-tab .nav-pills .nav-link.kathak {
    width: 100% !important;
  }
  .modulesec .monthtypes {
    margin: 0px 0px 10px 0px;
  }
  .carousel {
    margin-top: -130px;
  }
  .carousel-inner {
    height: 424px;
  }
  .testimonialsp {
    height: 187px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 9px !important;
    height: 9px !important;
    margin: 5px 5px !important;
  }
  .price-btn {
    padding: 15px 0px;
  }
  .faqd {
    padding: 10px;
    text-align: center;
  }
  .dancefimg {
    width: 50% !important;
  }
  .pricing-card-section .card {
    margin-bottom: 54px;
  }
  .mftm {
    padding-top: 20px;
  }
}

/* For Tablet Screen max-width: 991 min-width: 768*/

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .hide {
    display: none;
  }

  .join-now-btn {
    width: 212px;
  }

  .price-btn p {
    margin-bottom: 3px !important;
    font-size: 16px;
  }
  .commingsoonimg {
    width: 30%;
  }
  .comming-soon-p {
    text-align: justify;
  }
  footer {
    padding: 0px 0px;
  }
  .howWorkBlock {
    height: 200px;
  }
  .icon1 {
    margin-left: 59px !important;
  }
  .icon2 {
    margin-left: 62px !important;
  }
  .icon3 {
    margin-left: 62px !important;
  }
  .icon4 {
    margin-left: 64px !important;
  }
  .icon5 {
    margin-left: 59px !important;
  }
  .typesOfDance-tab .nav-pills .nav-link.big {
    width: 162px !important;
    height: 60px !important;
  }
  .step {
    width: 100%;
  }
  .kathakp {
    margin-top: 6%;
  }
  .mkathak {
    width: 20% !important;
  }
  .carousel {
    margin-top: 0px;
  }
  .carousel-control-prev {
    height: 87%;
  }
  .carousel-control-next {
    height: 87%;
  }
  .testimonials {
    height: 430px !important;
  }
  .card {
    margin-bottom: 65px;
  }
  .opman {
    display: none;
  }
  .pricing-section {
    margin-top: 9% !important;
  }
  .byfd {
    width: 100%;
  }
  .nsracb {
    width: 97%;
  }
  .mftm {
    padding-top: 20px;
  }
}
